<app-toast [message]="toast.message"></app-toast>

<div class="card">
  <h4 class="card-header">Device Register</h4>
  <div class="card-block">
    <form [formGroup]="userRegisterForm" (ngSubmit)="register()">
      <div class="input-group" [ngClass]="setClassFirstName()">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input class="form-control" type="text" name="firstName" formControlName="firsName" placeholder="FirstName" autofocus>
      </div>
      <div class="input-group" [ngClass]="setClassLastName()">
        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
        <input class="form-control" type="text" name="lastName" formControlName="lastName" placeholder="LastName">
      </div>
      <div class="input-group" [ngClass]="setClassPhoneNumber()">
        <span class="input-group-addon"><i class="fa fa-key"></i></span>
        <input class="form-control" type="text" name="phoneNumber" formControlName="phoneNumber" placeholder="PhoneNumber">
      </div>
      <div class="input-group" [ngClass]="setClassPassword()">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input class="form-control" type="password" name="password" formControlName="password" placeholder="Password" autofocus>
      </div>
      <div class="input-group" >
        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
        <input class="form-control" type="email" name="email" formControlName="email" placeholder="Email">
      </div>
      <div class="input-group" [ngClass]="setClassPackageName()">
        <span class="input-group-addon"><i class="fa fa-key"></i></span>
        <input class="form-control" type="text" name="packageName" formControlName="packageName" placeholder="Package Name">
      </div>
      <div class="input-group" [ngClass]="setClassGroup()">
        <span class="input-group-addon"><i class="fa fa-key"></i></span>
        <input class="form-control" type="text" name="topic" formControlName="topic" placeholder="Topic">
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-black-tie"></i></span>
        <select class="form-control" name="platform" formControlName="platform">
          <option value="" selected disabled>Platform</option>
          <option value="android">Android</option>
          <option value="ios">IOS</option>
        </select>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!deviceRegisterForm.valid"><i class="fa fa-user-plus"></i> Register</button>
    </form>
  </div>
</div>